h1 {
  text-align: center;
  margin-top: 50px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.upload {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.upload-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.upload-button:hover {
  background-color: #3e8e41;
}

#image-preview {
  margin-top: 100px;
}
