<html>
  <head>
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>TOMATOO</title>
  </head>
  <body>
    <h1 style="text-align: center; font-size: 4rem">
      Predict Potato Leaf Disease & Get Cure
    </h1>
    <section>
      <form
        action="/predict1"
        method="post"
        enctype="multipart/form-data"
        onsubmit="showloading()"
      >
        <input type="file" name="image" class="upload" />
        <br />
        <br />
        <input type="submit" value="Predict1" />
      </form>
    </section>
  </body>
</html>
